*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: black;   
} 

h1{
   text-align: center;
   font-family: cursive;
   font-size: 40px;
   color: #fff;
}

#myButton{
   padding: 7px 11px;
   font-size: 16px;
   border-radius: 25px;
}
img{
  width: 350px;
  height: 500px;
}